body {
  background-color: #fff3f9;
  font-family: "Bricolage Grotesque", sans-serif;
}
.weather-app {
  background: white;
  max-width: 600px;
  margin: 40px auto;
  box-shadow: 0 40px 80px rgba(64 48 96 0.08);
  border-radius: 16px;
  padding: 40px;
}
