body {
  background-color: #fff7f7;
  font-family: "Bricolage Grotesque", sans-serif;
}

a {
  color: #f44f4f;
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 40px auto;
  box-shadow: 0 40px 80px rgba(64 48 96 0.08);
  border-radius: 16px;
  padding: 40px;
}

header {
  border-bottom: 1px solid #fff7f7;
  padding: 0 0 24px 0;
}

.search-form-input {
  background-color: #fff7f7;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  width: 80%;
  padding: 16px;
}

.search-form-button {
  background-color: #f44f4f;
  padding: 16px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-family: "Bricolage Grotesque", sans-serif;
  color: white;
}

main {
  padding: 48px 0;
}

.weather-data {
  display: flex;
  justify-content: space-between;
}

.weather-city {
  margin: 0;
  font-size: 40px;
  line-height: 48px;
}

.weather-details {
  font-size: 20px;
  line-height: 24px;
}

.weather-details strong {
  color: #f44f4f;
}

.weather-container {
  display: flex;
}

.weather-icon {
  width: 80px;
  height: 80px;
  margin-top: 0px;
}

.weather-temperature {
  font-size: 80px;
  font-weight: bold;
  margin-left: 16px;
}

.weather-unit {
  font-size: 24px;
  margin-top: 8px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 32px;
}

.weather-forecast-date {
  text-align: center;
  color: #555555;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 8px;
}

.weather-forecast-icon {
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto;
}

.weather-forecast-temperatures {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  color: #f44f4f;
}

.weather-forecast-temperature {
  padding: 0 8px;
}

footer {
  border-top: 1px solid #fff7f7;
  padding: 24px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: #555555;
}
